In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [2]:
df = pd.read_csv('../__data/2010SantaBarbaraCA.csv')
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [3]:
data = [go.Heatmap(x=df['DAY'], y=df['LST_TIME'],
                    z=df['T_HR_AVG'].values.tolist(), colorscale='Jet')]

layout = go.Layout(title='SB CA Temps')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='Heatmaps_single.html')

'file://C:\\Users\\JI SEONG MIN\\Desktop\\epopon\\Section 3\\Heatmaps_single.html'

* ### Multiple Heatmap

In [4]:
from plotly import tools

In [5]:
df1 = pd.read_csv('../__data/2010SitkaAK.csv')
df2 = pd.read_csv('../__data/2010SantaBarbaraCA.csv')
df3 = pd.read_csv('../__data/2010YumaAZ.csv')

In [6]:
df1.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      10.5
1  20100601  TUESDAY     1:00      10.5
2  20100601  TUESDAY     2:00      10.0
3  20100601  TUESDAY     3:00       9.7
4  20100601  TUESDAY     4:00       9.4

In [7]:
trace1 = go.Heatmap(x=df1['DAY'], y=df1['LST_TIME'], 
                    z=df1['T_HR_AVG'], colorscale='Jet', zmin=5, zmax=40)

trace2 = go.Heatmap(x=df2['DAY'], y=df2['LST_TIME'], 
                    z=df2['T_HR_AVG'], colorscale='Jet', zmin=5, zmax=40)

trace3 = go.Heatmap(x=df3['DAY'], y=df3['LST_TIME'], 
                    z=df3['T_HR_AVG'], colorscale='Jet', zmin=5, zmax=40)

In [8]:
fig = tools.make_subplots(rows=1, cols=3, subplot_titles=['Sitka AK', 'SB CA', 'Yuma AZ'],
                    shared_yaxes=True)

fig.append_trace(trace1, 1, 1)
fig.append_trace(trace2, 1, 2)
fig.append_trace(trace3, 1, 3)

This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y1 ]  [ (1,3) x3,y1 ]

In [9]:
fig['layout'].update(title='Temps for 3 cities')

pyo.plot(fig, filename='Heatmaps_multiple.html')

'file://C:\\Users\\JI SEONG MIN\\Desktop\\epopon\\Section 3\\Heatmaps_multiple.html'