In [1]:
import numpy as np

In [2]:
mylist = [1, 2, 3, 4]
print(np.array(mylist))
print(mylist)
print(type(mylist))

[1 2 3 4]
[1, 2, 3, 4]
<class 'list'>

In [3]:
arr = np.array(mylist)
print(type(arr))
print(arr)

<class 'numpy.ndarray'>
[1 2 3 4]

In [4]:
a = np.arange(0, 10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
a = np.arange(0, 10, 2)
a

array([0, 2, 4, 6, 8])

In [6]:
np.zeros((5, 5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [7]:
np.zeros((1, 10))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [8]:
np.zeros((2, 10))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [9]:
np.ones((2, 4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [10]:
print(type(1.0))
print(type(1.))
print(type(1))

<class 'float'>
<class 'float'>
<class 'int'>

In [11]:
for i in range(5):
    print(np.random.randint(0, 100))

28
5
18
62
73

In [12]:
np.random.randint(0, 100, (5, 5))

array([[43, 64,  4, 57, 90],
       [ 6, 82, 84, 84, 87],
       [84, 92, 89, 74, 88],
       [10,  8,  0, 48, 28],
       [53,  3, 32,  5, 26]])

In [13]:
np.linspace(0, 10, 6)

array([ 0.,  2.,  4.,  6.,  8., 10.])

In [14]:
np.linspace(0, 10, 101)

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,
        1.1,  1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,
        2.2,  2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,
        3.3,  3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,
        4.4,  4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,
        5.5,  5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,
        6.6,  6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,
        7.7,  7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,
        8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,
        9.9, 10. ])

In [15]:
np.linspace(0, 10, 200)

array([ 0.        ,  0.05025126,  0.10050251,  0.15075377,  0.20100503,
        0.25125628,  0.30150754,  0.35175879,  0.40201005,  0.45226131,
        0.50251256,  0.55276382,  0.60301508,  0.65326633,  0.70351759,
        0.75376884,  0.8040201 ,  0.85427136,  0.90452261,  0.95477387,
        1.00502513,  1.05527638,  1.10552764,  1.15577889,  1.20603015,
        1.25628141,  1.30653266,  1.35678392,  1.40703518,  1.45728643,
        1.50753769,  1.55778894,  1.6080402 ,  1.65829146,  1.70854271,
        1.75879397,  1.80904523,  1.85929648,  1.90954774,  1.95979899,
        2.01005025,  2.06030151,  2.11055276,  2.16080402,  2.21105528,
        2.26130653,  2.31155779,  2.36180905,  2.4120603 ,  2.46231156,
        2.51256281,  2.56281407,  2.61306533,  2.66331658,  2.71356784,
        2.7638191 ,  2.81407035,  2.86432161,  2.91457286,  2.96482412,
        3.01507538,  3.06532663,  3.11557789,  3.16582915,  3.2160804 ,
        3.26633166,  3.31658291,  3.36683417,  3.41708543,  3.46733668,
        3.51758794,  3.5678392 ,  3.61809045,  3.66834171,  3.71859296,
        3.76884422,  3.81909548,  3.86934673,  3.91959799,  3.96984925,
        4.0201005 ,  4.07035176,  4.12060302,  4.17085427,  4.22110553,
        4.27135678,  4.32160804,  4.3718593 ,  4.42211055,  4.47236181,
        4.52261307,  4.57286432,  4.62311558,  4.67336683,  4.72361809,
        4.77386935,  4.8241206 ,  4.87437186,  4.92462312,  4.97487437,
        5.02512563,  5.07537688,  5.12562814,  5.1758794 ,  5.22613065,
        5.27638191,  5.32663317,  5.37688442,  5.42713568,  5.47738693,
        5.52763819,  5.57788945,  5.6281407 ,  5.67839196,  5.72864322,
        5.77889447,  5.82914573,  5.87939698,  5.92964824,  5.9798995 ,
        6.03015075,  6.08040201,  6.13065327,  6.18090452,  6.23115578,
        6.28140704,  6.33165829,  6.38190955,  6.4321608 ,  6.48241206,
        6.53266332,  6.58291457,  6.63316583,  6.68341709,  6.73366834,
        6.7839196 ,  6.83417085,  6.88442211,  6.93467337,  6.98492462,
        7.03517588,  7.08542714,  7.13567839,  7.18592965,  7.2361809 ,
        7.28643216,  7.33668342,  7.38693467,  7.43718593,  7.48743719,
        7.53768844,  7.5879397 ,  7.63819095,  7.68844221,  7.73869347,
        7.78894472,  7.83919598,  7.88944724,  7.93969849,  7.98994975,
        8.04020101,  8.09045226,  8.14070352,  8.19095477,  8.24120603,
        8.29145729,  8.34170854,  8.3919598 ,  8.44221106,  8.49246231,
        8.54271357,  8.59296482,  8.64321608,  8.69346734,  8.74371859,
        8.79396985,  8.84422111,  8.89447236,  8.94472362,  8.99497487,
        9.04522613,  9.09547739,  9.14572864,  9.1959799 ,  9.24623116,
        9.29648241,  9.34673367,  9.39698492,  9.44723618,  9.49748744,
        9.54773869,  9.59798995,  9.64824121,  9.69849246,  9.74874372,
        9.79899497,  9.84924623,  9.89949749,  9.94974874, 10.        ])

In [16]:
np.random.seed(101)

In [17]:
np.random.randint(0, 100, 10)

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [18]:
arr = np.random.randint(0, 100, 10)
arr

array([ 4, 63, 40, 60, 92, 64,  5, 12, 93, 40])

In [19]:
print(arr.max())
print(arr.min())
print(arr.mean())
print(arr.argmax())
print(arr.argmin())

93
4
47.3
8
0

In [20]:
arr.reshape(2, 5)

array([[ 4, 63, 40, 60, 92],
       [64,  5, 12, 93, 40]])

In [21]:
mat = np.arange(0, 100).reshape(10, 10)
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [22]:
print(mat[5, 2])
print(mat[:, 2])
print(mat[2, :])

52
[ 2 12 22 32 42 52 62 72 82 92]
[20 21 22 23 24 25 26 27 28 29]

In [23]:
mat > 50

array([[False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True]])

In [24]:
mat[mat > 50]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])